[package]
name = "ppm_core"
authors.workspace = true
edition.workspace = true
version.workspace = true

[dependencies]
thiserror.workspace = true
serde.workspace = true
serde_json.workspace = true
chrono.workspace = true
